@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --black: #414141;
  --faded-black: #41414167;
  --dark-black: #272727;
  --light-grey: #cfcfcf;
  --grey: #a1a1a1;
  --medium-large-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --large-large-shadow: rgb(36, 36, 36) 0px 20px 30px -10px;
  /* DIMENSION */
  --header-height: 60px;
  --breadcrumb-height: 35px;
}

body {
  background-color: var(--black) !important;
  color: var(--black) !important;
  margin: 0px !important;
  font-family: "Roboto", sans-serif !important;
}

.content {
  padding: 20px;
}

/* SET GLOBAL CLASSES */
.dflex {
  display: flex;
}

.flex-centered {
  justify-content: center;
  align-items: center;
}

.fullscreen {
  width: 100%;
  height: calc((100vh - var(--header-height)) - var(--breadcrumb-height));
}

.content-box {
  background-color: var(--light-grey);
  box-shadow: var(--medium-large-shadow);
  padding: 20px;
  border-radius: 5px;
}

h1 {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
}

.font-italic {
  font-style: italic;
}

/* DIALOG */

.g-dialog-content {
  padding: 18px;
}

/* BUTTONS */

.btn.btn-custom {
  color: white;
  background-color: var(--black);
}
.btn.btn-custom:hover {
  color: white;
  background-color: var(--dark-black);
}
.btn.btn-custom:focus {
  transform: scale(0.95);
  box-shadow: var(--medium-large-shadow);
}
.btn.btn-custom-secondary {
  color: var(--black);
  border: 2px solid var(--black);
  background-color: white;
}
.btn.btn-custom-secondary:hover {
  color: var(--black);
  background-color: white;
}
.btn.btn-custom-secondary:focus {
  transform: scale(0.95);
  box-shadow: var(--medium-large-shadow);
}

/* ICONS */
.icon.trash-icon {
  width: 20px;
}
.icon.edit-icon {
  width: 20px;
}
.icon.plus-icon {
  width: 18px;
}
.icon.settings-icon {
  width: 18px;
}
.icon.number-icon {
  width: 15px;
}
.icon.heart-icon {
  width: 20px;
}
.icon.category-icon {
  width: 16px;
}
.icon.heart-full-icon {
  width: 25px;
}
.icon.trash-black-icon {
  width: 25px;
}

/* Margin */
.mr-3 {
  margin-right: 1rem;
}
.ml-3 {
  margin-left: 1rem;
}
.mr-2 {
  margin-right: 0.75rem;
}
.ml-2 {
  margin-left: 0.75rem;
}
